/* Reset margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Body */
body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../assets/pattern.png);
    background-size: 700px;
    background-repeat: none;
    
  }
/* Formatting headers */
.box{
    max-width: 800px;
    margin: 23px auto;
    border: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgb(0,0,0, 0.5);
}
/* Formatting of paragraphs */
.paragraph{
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 20px;
}
/* Formatting of all link buttons */
.button{
    text-decoration: none;
    display: inline-block;
    font-size: large;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}
/* Formatitng of button's icons */
.fa-solid fa-arrow-right {
    margin-right: 10px;
}

/* Adding background image to all car categories */
.box1{
    background: white url(../assets/economic-car.png);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: right;
}

.box2{
    background: white url(../assets/luxury-car.png);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: right;
}

.box3{
    background: white url(../assets/family-car.png);
    background-size: 270px;
    background-repeat: no-repeat;
    background-position: right;
}
/* Adding color to header elements and button links */
.type1{
    color: orange;
}

.type2{
    color: blue;

}

.type3{
    color: green;
}

.button1{
    background-color: orange;
}

.button2{
    background-color: rgb(218, 44, 218);
}

.button3{
    background-color: chocolate;
}

.button1:hover{
    background-color: rgb(232, 159, 24);
}

.button2:hover{
    background-color: rgb(192, 8, 192);
}

.button3:hover{
    background-color: rgb(183, 84, 13);
}

.button1:active{
    background-color: orange;
}

.button2:active{
    background-color: rgb(218, 44, 218);
}

.button3:active{
    background-color: chocolate;
}